.overlay {
  position: relative;
  z-index: 0;
}
.overlay::before {
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b50808+0,000000+100&0.38+0,0.6+100 */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba($secondary_color, 0.38) 0%,
    rgba(0, 0, 0, 0.6) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba($secondary_color, 0.38) 0%,
    rgba(0, 0, 0, 0.6) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba($secondary_color, 0.38) 0%,
    rgba(0, 0, 0, 0.6) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b50808', endColorstr='#99000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay2 {
  position: relative;
  z-index: 0;
}
.overlay2::before {
  position: absolute;
  content: "";
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}
.slider_area {
  position: relative;
  z-index: 0;
  .single_slider {
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media #{$tab} {
      height: auto;
    }
    @media #{'only screen and (min-width: 768px) and (max-width: 991px)'} {
      height: 600px;
    }
    .slider_text {
      @media #{$tab} {
        margin: 100px 0 50px 0;
      }
      span {
        font-size: 40px;
        font-weight: 400;
        color: #ffffff;
        text-transform: uppercase;
        font-family: $font1;
      }
      h3 {
        font-family: $font1;
        font-size: 153px;
        text-transform: uppercase;
        font-weight: 400;
        color: #fff;
        line-height: 1;
        margin-top: 5px;
        margin-bottom: 23px;
        span {
          font-weight: 700;
        }
        @media #{$tab} {
          font-size: 30px;
          //    letter-spacing: 3px;
          line-height: 45px;
        }
        @media #{'only screen and (min-width: 768px) and (max-width: 991px)'} {
          font-size: 54px;
        }
        @media #{$medium_device} {
          font-size: 100px;
        }
      }
      p {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 34px;
        margin-top: 10px;
        font-family: $font2;
        @media #{$medium_device} {
          font-size: 16px;
        }
        @media #{$tab} {
          font-size: 16px;
        }
      }
      .video_service_btn > a {
        margin-right: 15px;
        @media #{$tab} {
          margin-bottom: 20px;
        }
      }
    }
    .property_form {
      @media #{$tab} {
        margin-bottom: 30px;
      }
      padding: 30px;
      background: rgba(0, 28, 56, 0.6);
      @include border-radius(10px);
      .form_wrap {
        @media #{$tab} {
          display: block !important;
        }
        @media #{'only screen and (min-width: 768px) and (max-width: 991px)'} {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
        }
      }
    }
  }
  .serach_icon a {
    width: 45px;
    height: 45px;
    background: #fd8e5e;
    text-align: center;
    line-height: 45px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    @media #{$tab} {
      width: 100%;
      margin-bottom: 15px;
    }
    @media #{'only screen and (min-width: 768px) and (max-width: 991px)'} {
      width: 50%;
    }
  }
  .serach_icon {
    @include flexbox();
    @include align-items(end);
    @media #{$tab} {
      display: block;
    }
    @media #{'only screen and (min-width: 768px) and (max-width: 991px)'} {
      width: 50%;
      align-items: center;
      margin-top: 12px;
    }
  }
}
