.primary_btn {
  background: $secondary_color;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font2;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 18.5px 33px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &.small_btn {
    padding: 14px 45px 13px 44px;
  }
  &:hover {
    color: $secondary_color;
    border-color: $secondary_color;
    background: transparent;
  }
}
.primary_btn2 {
  background: $white;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font2;
  font-size: 14px;
  color: $secondary_color;
  font-weight: 700;
  padding: 14px 18px 13px 18px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &.small_btn {
    padding: 13.5px 45px;
  }
  &:hover {
    color: $white;
    border-color: $secondary_color;
    background: $secondary_color;
  }
}
.green_round_btn {
  background: $secondary_color;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  border-radius: 30px;
  padding: 7px 13px;
  display: inline-block;
  &:hover {
    color: $white;
  }
}
