footer.home_one_footer {
  position: relative;
  background-size: cover;
  background-position: top center;
  background: #fff4f1;
  position: relative;
  margin-top: 0;
  .footer_top_area {
    padding-top: 50px;
    padding-bottom: 55px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  .main_footer_wrap {
    padding-top: 173px;
    padding-bottom: 56px;
    @media #{$tab} {
      padding-bottom: 46px;
    }
    .footer_widget {
      margin-bottom: 30px;
      .footer_logo {
        margin-bottom: 10px;
      }
      .footer_title {
        h3 {
          font-family: $font1;
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 16px;
          text-transform: uppercase;
          color: #00124e;
        }
      }
      .footer_links {
        li {
          a {
            font-size: 14px;
            font-weight: 500;
            color: $primary_color;
            line-height: 30px;
            font-family: $font2;
            line-height: 2.14;
            &:hover {
              color: #00124e;
            }
          }
        }
      }
      .address_list {
        max-width: 270px;
        p {
          font-size: 14px;
          color: #656565;
          margin-bottom: 0;
          line-height: 1.86;
          font-weight: 500;
          margin-bottom: 15px;
          &:not(:last-child) {
            margin-bottom: 0;
          }
          span {
            font-weight: 700;
          }
        }
      }
      .large_address {
        font-size: 24px;
        font-weight: 700;
        color: $secondary_color;
        margin-bottom: 0;
      }
      .address_text {
        font-size: 14px;
        font-weight: 500;
        color: #0f111d;
        margin-bottom: 33px;
      }
    }
  }
  .copyright_area {
    padding-bottom: 47px;
    .footer_border {
      border-top: 1px solid #f7e4df;
      margin-bottom: 23px;
    }
    .copy_right_text {
      margin-bottom: 30px;
      p {
        margin-bottom: 0;
        font-size: 14px;
        color: #00124e;
        font-weight: 500;
        a {
          color: $secondary_color;
        }
      }
    }
    .payment_imgs {
      text-align: right;
      margin-bottom: 30px;
      img {
        @media #{$small_mobile} {
          width: 100%;
        }
        @media #{$tab2} {
          width: 100%;
        }
      }

      @media #{$tab} {
        text-align: left;
      }
    }
  }
}
