.infix_login_area {
  display: flex;
  justify-content: center;
  padding: 70px 0 150px 0;
  @media #{$tab} {
    padding: 0px 0;
  }
  .login_area_inner {
    max-width: 690px;
    padding: 100px 109px;
    background: #fff;
    @media #{$small_mobile} {
      padding: 60px 15px 77px 15px;
    }
    @media #{$large_mobile} {
      padding: 60px 45px 77px 45px;
    }
    h4 {
      font-size: 24px;
      line-height: 1.5;
      color: $primary_color;
      margin-bottom: 40px;
      font-weight: 700;
      max-width: 340px;
      margin: 52px auto 24px auto;
      font-family: $font2;
      @media #{$tab} {
        font-size: 20px;
        margin: 30px auto 20px auto;
      }
    }
    .login_with_links {
      display: flex;
      grid-gap: 10px;
      @media #{$tab} {
        flex-wrap: wrap;
      }
      a,
      button {
        background: #ea4335;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        padding: 14.5px 30px;
        color: #fff;
        display: block;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        grid-gap: 7px;
        white-space: nowrap;
        border: 0;
        @media #{$tab} {
          flex: 1 1 auto;
        }
        &.Facebook_bg {
          background: #395799;
        }
        &.twitter_bg {
          background: #03abf0;
        }
        i {
          font-size: 16px;
          color: #fff;
        }
      }
    }
    .sign_up_text {
      font-size: 14px;
      font-weight: 500;
      color: #373737;
      margin-top: 18px;
      font-family: $font2;
      &.style2 {
        font-family: $font2;
      }
      a {
        color: #4183ff;
      }
    }
  }
  .remember_pass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    .label_name {
      color: #676e8b;
    }
    .forgot_pass {
      font-size: 14px;
      font-weight: 600;
      color: #5dabfc;
      &:hover {
        color: $secondary_color;
      }
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: #687083;
      a {
        color: #687083;
        &:hover {
          color: $secondary_color;
        }
      }
    }
  }
  .primary_line_input {
    background: transparent;
    padding-bottom: 5px;
  }
}

.custom_group_field {
  border-bottom: 1px solid rgba(104, 112, 130, 0.2);
  span {
    background: transparent;
    border: 0;
    padding: 0;
    width: 20px;
    text-align: left;
    padding-bottom: 10px;
    height: 41px;
  }
  input {
    border: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: $font2;
    box-shadow: none !important;
    padding-bottom: 14px;
    padding-left: 7px;
    color: $primary_color;
    background: transparent !important;
    box-shadow: none !important;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #9d9d9d;
    }
  }
}

.login_modal {
  .close_modal {
    position: absolute;
    right: 15px;
    z-index: 10;
    top: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    border-radius: 50%;
    transition: 0.3s;
    display: inline-block;
    &:hover {
      background: $secondary_color;
      color: #fff;
      transform: rotate(90deg);
    }
    i {
      line-height: 30px;
      font-size: 14px;
    }
  }
  .modal-content {
    border: 0;
  }
  .infix_login_area {
    padding: 0;
  }
  .modal-body {
    padding: 0;
  }
  .modal-dialog {
    max-width: 690px;
  }
}

.about_modal {
  .modal-dialog {
    max-width: 590px;
  }
  .infix_login_area {
    .login_area_inner {
      padding: 50px;
      max-width: 100%;
    }
  }
}
.shiping_modal {
  .modal-dialog {
    max-width: 900px;
  }
  .infix_login_area {
    .login_area_inner {
      padding: 50px;
      max-width: 100%;
    }
  }
}
.size_modal {
  .modal-dialog {
    max-width: 942px;
  }
  .infix_login_area {
    .login_area_inner {
      padding: 50px 40px;
      max-width: 100%;
    }
  }
}
