.service_box {
  .thumb {
    max-height: 300px;
    overflow: hidden;
  }
  .service_desc {
    margin-top: 20px;
    h4 {
      font-size: 22px;
      font-weight: 700;
      color: $primary_color;
      font-family: $font2;
      margin-bottom: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.2;
      min-height: 53px;
      margin-bottom: 0;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      color: #456245;
      transition: 0.3s;
      margin: 10px 0 15px 0;
      text-transform: capitalize;
    }
  }
}
