.theme_title {
  span {
    font-size: 14px;
    font-weight: 500;
    display: block;
    color: $body_color;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    color: $primary_color;
    font-family: $font2;
    @media #{$tab} {
      font-size: 30px;
    }
  }
}
